*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:hsl(185, 75%, 39%)
;
  position: relative;
  height: 100vh;
  font-family: "Kumbh Sans",sans-serif;
}
h1{
  color:hsl(229, 23%, 23%);
  font-size: 1.1rem;
}
p{
  color: hsl(227, 10%, 46%);
  font-size: 0.8rem;
}
.background{
  height: 100%;
  display: flex;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.top{
  background-image: url("images/bg-pattern-top.svg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  height: 100%;
  width: 50%;
  position: absolute;
  top:-20rem;
  left:-5rem;
  flex-grow: 1;
}
.bottom{
  background-image: url("images/bg-pattern-bottom.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 120%;
  width: 60%;
  position: absolute;
  top:20rem;
  right: -10rem;
  flex-grow:2;
}
main{
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card{
  height: 24rem;
  width: 21rem;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}
.c_top{
  border-radius: 1em 1em 0 0;
  flex-grow: 2;
  background-image: url("images/bg-pattern-card.svg");
}
.c_center{
  flex-grow: 2.2;
  background-color: white;
  position: relative;
}
.img_con{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}
img{
  border-radius: 100%;
  border: 4px solid white;
  position: absolute;
  top:-3rem;
  background-color: white;

}
.bio{
  text-align: center;
  position: absolute;
  bottom: 2rem;
  width: 100%;
}


.c_bottom{
  flex-grow: 0.6;
  display: flex;
  background-color: white;
  border-radius: 0 0 1em 1em;
  border-top: 1.4px solid hsl(0, 0%, 90%);
}
.c_bottom p{
  margin-top: 0.3rem;
}
.follower{

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.likes{

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photos{

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: portrait){
  main{
    width: 100vw;
  }
  .card{
    width: 90vw;
    height: 60vh;
    border-radius: 4em;
  }
  h1{
    font-size: 3em;
  }
  p{
    font-size: 2.4em;
  }
  img{
    height: 20em;
    width: 20em;
    top:-9em;
    border: 1em solid white;
  }
  .bio{
    bottom:9rem;
  }
  .bio h1{
    font-size: 4em;
  }
}
